**Definición de una tupla**

In [ ]:
edades = (28, 67, 40, 15)

In [ ]:
colores = ("Amarillo", "Azul", "Rojo")
print(colores)
print(type(colores))

**Operaciones con tuplas**

In [ ]:
jugadores = ("Cristiano", "Messi", "Díaz", "Mbappé")
print(jugadores[0])
print(jugadores[len(jugadores)-1])

**Operación no permitida**

In [ ]:
jugadores = ("Cristiano", "Messi", "Díaz", "Mbappé")
jugadores[0] = "Haaland"

**Definición de un conjunto**

In [ ]:
edades = {28, 67, 40, 15}

In [ ]:
planetas = {"Tierra", "Marte", "Urano", "Urano"}
print(planetas)
print(type(planetas))

**Acceder a elementos de un conjunto (error)**

In [ ]:
planetas = {"Tierra", "Marte", "Urano", "Urano"}
print(planetas[0])

**Acceder a elementos de un conjunto**

In [ ]:
planetas = {"Tierra", "Marte", "Urano"}
for planeta in planetas:
  print(planeta)

**Agregar elementos a un conjunto**

In [ ]:
planetas = {"Tierra", "Marte", "Urano"}
planetas.add("Jupiter")
print(planetas)

**Eliminar elementos de un conjunto**

In [ ]:
planetas = {"Tierra", "Marte", "Urano"}
planetas.remove("Tierra")
print(planetas)